{% extends 'base.html' %}
{% block title %}Danh sách khách hàng{% endblock %}
{% block content %}
<div>
    <div class="text-center" , style="color: blue; font-size: 2em; font-weight: bold;"> Danh sách khách hàng</div>
    <table class="table table-bordered border-dark">
        <thead class="table-info">
            <tr>
                {% for key in customers[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in customers %}
            <tr>
                {% for value in row.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}